.field-container {
  display: flex;
  flex-direction: column;
}
.field-container--registration {
  padding-bottom: 20px;
}
.field-container .registration__text-error {
  display: none;
}
.has-error .registration__text-error {
  display: inline;
}
.has-error input,
.has-error textarea,
.has-error select,
.has-error .create__file {
  border-color: #FF116E;
}
.has-error span {
  color:  #FF116E;
}
