body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height:normal;
  background-color: #ffffff;
  color: #333438;

  &.landing {
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -413px;
  }
}
html,
body {
  height: 100%;
}
.table-layout {
  display: table;
  width: 100%;
  height: 100%;
}
header,
footer {
  display: table-row;
  height: 1px;
}
@import "fonts";
@import "utils";
@import "mixin";
@import "head";
@import "footer";
@import "new-task";
@import "search-task";
@import "inputs";
@import "content-view";
@import "connect-desk";
@import "create";
@import "user";
@import "registration";
@import "mylist";
@import "menu-toggle";
@import "users";
@import "account";
@import "landing";
@import "modal";
@import "field-container";